.main-menu-item {
  padding: 0 var(--gutter-small);
}

.main-menu-item__link {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px 0;
}

.main-menu-item__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 4px solid var(--background-secondary);
  transform: scaleY(0);
  transform-origin: center bottom;
  transition: transform 0.2s ease-out;
}

.main-menu-item__link:hover::after {
  transform: scaleY(1);
}
