.refresh-button {
  display: block;
  width: 40px;
  height: 40px;
  border: 0;
  background: none;
  color: var(--background-secondary);
  cursor: pointer;
  outline: none;
}

/* TODO make refresh icon spin on click */
/* .refresh-button.spin {
  animation-name: spin;
  animation-duration: 0.85s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  25%,
  50%,
  75%,
  100% {
    transform-origin: center center;
  }
  25%,
  30% {
    transform: rotate(-35deg);
  }
  75% {
    transform: rotate(390deg);
  }
  80% {
    transform: rotate(395deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
